### Tuples
Tuples are used to hold togeather multiple objects. Think of them as similar to lists, but without the extensive functionality that the list class gives you. One major feature of tuples is that they are immutable like strings i.e. you cannot modify tuples.

Tuples are defined by specifying items seperated by commas within an optional pair of parenthesis.

Tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection of values i.e. tuple of values used will not change.

In [1]:
a = [1,2,3,4]

In [2]:
a[0] = 5

In [3]:
id(a)

1673739838208

In [4]:
# tuples are immutable

In [5]:
a = (1,2,3,4,5)

In [6]:
# We use [] to instantiate list 
# We use () to instantiate tuples

In [7]:
a[0] = 1

TypeError: 'tuple' object does not support item assignment

In [8]:
# tuples are much more performant than lists
# lists can become slow, list will consume more memory
# tuples are more efficient i.e. they are fast

In [10]:
def func(*args):
    print(args)

In [11]:
func(1,2,3,4)

(1, 2, 3, 4)

In [12]:
# What we see above is a tuple. The values that args holds remains intact. They never change once the function is called.

In [13]:
# Python could have easily used list to store data in args but it used tuples to keep the data intact. We never need to change the args once the function agts the input from the user.

In [17]:
# Common interview questions in Python related to tuples.
# Swap to values stored in a variable.

In [18]:
a = 5
b = 9

In [19]:
# Method 1: Using a third variable
temp = a
a = b
b = temp

In [20]:
print(a,b)

9 5

In [25]:
a = 5
b = 9

In [26]:
# Method 2: Not using a third variable
a = a + b #14
b = a - b #9
a = a - b #5

In [27]:
print(a,b)

9 5

In [28]:
a = 5
b = 9

In [29]:
# Method 3: Using XOR
a = a^b #14
b = a^b #9
a = a^b #5

In [30]:
print (a,b)

9 5

In [33]:
# Different ways of creating a tuple
a = (1,2)

In [34]:
a = 1,2

In [35]:
type(a)

tuple

In [36]:
a

(1, 2)

In [42]:
c, d = a
#The above statement defines a tuple on the left hand side where a'a value is unpacked into c and d.
#There should be an equal number of operator on the left hand side of the assignment operator.

In [43]:
c

1

In [44]:
d

2

In [45]:
c,d,e = a

ValueError: not enough values to unpack (expected 3, got 2)

In [46]:
a = (1,2,3)

In [47]:
c,d = a

ValueError: too many values to unpack (expected 2)

In [48]:
a = 5
b = 9

In [49]:
a, b = b, a

In [50]:
print(a,b)

9 5

### List to tuple and tuple to list...

In [61]:
# A tuple to a list.

In [51]:
a = (1,2,3)

In [53]:
a = list(a)
# The above mentioned list takes an iterable as an argument and hence tuple.

In [54]:
a = list(range(15))
# The range mentioned above is an iterable.

In [55]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [58]:
a = list("jatin")
# The string mentioned above is an iterable.

In [59]:
a

['j', 'a', 't', 'i', 'n']

In [63]:
# A list to a tuple.

In [64]:
a = tuple(a)

In [65]:
a

('j', 'a', 't', 'i', 'n')

### Returning multiple values from functions (The returned thing is a tuple!)

In [66]:
def addSubtract(a,b):
    return a + b, a - b

In [68]:
sum, diff = addSubtract(7,6)

In [69]:
sum

13

In [70]:
diff

1