### 18. Introduction to Sets

Sets are unordered collection of simple objects. These are used when the existence of an object in a collection is more important than the order or how many times it occours.

Using sets, you can test for membership, whether it is a subset of another set, find the intersection between two sets, and so on.

In [8]:
a = { 1, 2, 3, 4 }

In [3]:
type(a)

set

Create an empty set

In [4]:
a = {}

In [5]:
type(a)

dict

In [6]:
a = set()

In [7]:
type(a)

set

In [9]:
b = {3, 4, 5, 6}

In [10]:
a.intersection(b)

{3, 4}

In [11]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [12]:
a - b

{1, 2}

In [13]:
#a-b returns all the elements that are in a and not in b

In [14]:
a[1]

TypeError: 'set' object is not subscriptable

In [15]:
#set are not indexable

In [16]:
#In Python we can iterate on a set

In [17]:
for i in a:
    print(i)

1
2
3
4

In [18]:
a = {1,2,3,4,1,2,3,4}

In [19]:
a

{1, 2, 3, 4}

In [20]:
len(a)

4

In [22]:
# Beginner level interview question

In [23]:
a = [1, 2, 1, 2, 1, 1, 2, 2]

In [24]:
# How can I de duplicate a list

In [25]:
list(set(a))

[1, 2]