In [43]:
import numpy as np
# Pandas - Working with Tabular Data

In [44]:
pokemons = {
    "Pokemon_Height" : np.random.randint(1,100,5),
    "Pokemon_Weight" : np.random.randint(50,150,5),
    "Pokemon_Power" : np.random.randint(200,250,5)
}

In [45]:
pokemons

{'Pokemon_Height': array([95, 38, 89, 18, 36]),
 'Pokemon_Weight': array([109, 138, 147,  75,  77]),
 'Pokemon_Power': array([208, 240, 212, 210, 219])}

In [46]:
import pandas as pd

In [47]:
#data frame
df = pd.DataFrame(pokemons)
print(df)

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0              95             109            208
1              38             138            240
2              89             147            212
3              18              75            210
4              36              77            219

In [48]:
df.head()
# To give a better look

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0              95             109            208
1              38             138            240
2              89             147            212
3              18              75            210
4              36              77            219

In [49]:
df.head(n=3)

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0              95             109            208
1              38             138            240
2              89             147            212

In [50]:
df.columns

Index(['Pokemon_Height', 'Pokemon_Weight', 'Pokemon_Power'], dtype='object')

In [51]:
## Create a CSV(Comma Seperated File)
df.to_csv('pokemon_data.csv',index=False)

# Read a DataFrame

In [52]:
# - Kaggle Challenges --> CSV Files

In [55]:
df = pd.read_csv('pokemon_data.csv')

In [56]:
df.head()

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0              95             109            208
1              38             138            240
2              89             147            212
3              18              75            210
4              36              77            219

In [59]:
# df.drop(columns=['Unnamed: 0'])

In [60]:
df.shape

(5, 3)

# 6. Load and Process the MNIST Dataset